<mat-card>
    <form [formGroup]="addProduct" (ngSubmit)="onSubmit()">
        <mat-toolbar>
            <button class="ml-1" mat-stroked-button type="submit">
                ثبت<mat-icon matSuffix>check_small</mat-icon>
            </button>
            <a mat-stroked-button [routerLink]="'/sell/invoice/list'">
                بازگشت<mat-icon matSuffix>keyboard_return</mat-icon></a>
        </mat-toolbar>
        <mat-divider></mat-divider>
        <mat-card-content class="w-[50%] grid grid-rows-4">
            <section class="example-section">
                <mat-checkbox class="example-margin" formControlName='isForAllBranches'>
                    برای تمام شعبه های فعال
                </mat-checkbox>
            </section>
            <div class="flex flex-col items-start justify-start w-full">
                <mat-form-field class="w-full">
                    <mat-label class="mb-2 text-sm">شناسه کالا/خدمت(داخلی)</mat-label>
                    <input matInput formControlName="serviceStuffId" type="number"
                        placeholder="شناسه کالا/خدمت(داخلی) را وارد کنید"
                        class="placeholder:text-sm placeholder:text-black" required />
                    <mat-icon matSuffix>title</mat-icon>
                    <mat-error *ngIf="addProduct.get('serviceStuffId')?.hasError('required')">
                        این فیلد باید تکمیل شود.
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label class="mb-2 text-sm">شناسه کالا/خدمت عمومی/اختصاصی </mat-label>
                    <input formControlName="taxPayerInternalServiceStuffId" type="number" matInput
                        placeholder="شناسه کالا/خدمت عمومی/اختصاصی را وارد کنید "
                        class="placeholder:text-sm placeholder:text-black" required />
                    <mat-icon matSuffix>pin</mat-icon>
                    <mat-error *ngIf="addProduct.get('taxPayerInternalServiceStuffId')?.hasError('required')">
                        این فیلد باید تکمیل شود.
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label class="mb-2 text-sm">عنوان کالا خدمت در سیستم مودی</mat-label>
                    <input matInput formControlName="taxPayerInternalTitle"
                        placeholder="عنوان کالا خدمت در سیستم مودی را وارد کنید"
                        class="placeholder:text-sm placeholder:text-black" required />
                    <mat-icon matSuffix>title</mat-icon>
                    <mat-error *ngIf="addProduct.get('taxPayerInternalTitle')?.hasError('required')">
                        این فیلد باید تکمیل شود.
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label class="text-sm">نرخ مالیات ارزش افزوده </mat-label>
                    <input type="number" matInput placeholder="نرخ مالیات ارزش افزوده را وارد کنید"
                        class="placeholder:text-sm placeholder:text-black" />
                    <mat-icon matSuffix>percent</mat-icon>
                    <mat-error *ngIf="addProduct.get('tax')?.hasError('required')">
                        این فیلد باید تکمیل شود.
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="w-full">
                    <mat-label class="text-sm">شرح تجاری کالا/خدمت</mat-label>
                    <textarea matInput placeholder="شرح تجاری کالا/خدمت را وارد کنید"
                        class="placeholder:text-sm placeholder:text-black"></textarea>
                    <mat-error *ngIf="addProduct.get('business')?.hasError('required') ">
                        این فیلد باید تکمیل شود.
                    </mat-error>
                </mat-form-field>
            </div>
        </mat-card-content>
    </form>
</mat-card>